<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="Suite">
  <test thread-count="2" parallel="classes" name="classes">
  	<parameter name="browser" value="chrome"/>
  	<parameter name="gridExe" value="No"/>
    <classes>
      <class name="com.docker.web.tests.LoginTest"/>
      <class name="com.docker.web.tests.LoginTest2"/>
      <class name="com.docker.web.tests.LoginTest3"/>
      <class name="com.docker.web.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
